.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #f4f4f4;
    margin-top: 250px;
    max-width: 1400px;
    margin-left: 80px;
    
  }
  
  .contact-details {
    flex: 1;
    margin-right: 40px;
    margin-left: -20px;
    
  }
  
  .contact-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contact-description {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  
  .contact-form {
    flex: 1;
    font-weight: bold;
    color: #333;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .btn-submit {
    background-color: #f7b500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-submit:hover {
    background-color: #d69800;
  }  
  
  .contact-details i.contact-icon {
    font-size: 20px; 
    color: #4CAF50; /* Change to preferred color */
    margin-right: 10px; /* Space between icon and text */
  }
  
  .contact-details a {
    color: #333; /* Color for the text */
    text-decoration: none; /* Remove underline */
  }
  
  .contact-details a:hover {
    color: #007bff; /* Hover color */
    text-decoration: underline; /* Underline on hover */
  }
 
  .highlighted-text {
    padding-top: 40px;
    font-size: 55px; /* Adjust size as needed */
    color: #666; /* Subtle gray color */
    font-weight: bold; /* Make it stand out */
    margin: 15px 0; /* Add spacing around the text */
    text-align: center; /* Center-align text */
    line-height: 1.6; /* Improve readability */
  }
  
  .get{
    font-weight: bold;
    color: #333;
    
  }

  .com{
     font-weight: 550;
  }

  .whatsappp{
    width: 30px;
    height: 100px;
    position: relative; 
    top: 50px; 
    left: 5px; 
  }

  .emaill{
    width: 35px;
    height: 100px;
    position: relative; 
    top: 133px; 
    left: -55px; 
  }

  .calll{
    width: 30px;
    height: 100px;
    position: relative; 
    top: 93px; 
    left: -25px; 
  }